update-gists.ps1

#Test output
out/
test-output
aspsoe-examples-output

#Idea
.idea/
.gradle
build/

#maven
target

# Eclipse project files
.classpath
.project
.settings/

# Mac
.DS_Store

# Lic file
*.lic
